*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
    width: 100%;
    height: 100%;
  
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
#logo{
    width: 10rem;
    height: 3rem;
}
a{
    color: black;
    padding: 15px !important;
    font-size: 18px;
    cursor: pointer;
}
a:hover{
    color: #FF6347;
}
.fa-shopping-bag{
    color: #FF6347;
}
#workout{
    margin-top: 30%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
#button{
    background-color: #FF6347;
    outline: none;
    border: 0px solid #FF6347;
    padding:10px 40px;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    transition: 1s;
}
#button:hover{
    transform: translateX(10px);
}
.fa-arrow-right{
    position: relative;
    left: 15px;
}
#image1{
    width: 100%;
    height: 80%;
    overflow: hidden;
    margin: 20px auto;
}
#category1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin-top: 20%;
}
#featuredproducts{
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    position: relative;
    font-weight: bold;
}
#product1{
    width: 90%;
    height: 90%;
    
}
#shirts{
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
  
}
#stars{

    color: #FF6347;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -10px;
    
}
small{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}
#latestproducts{
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    position: relative;
    top: 5rem;
    font-weight: bold;
}
.header2{
    background: radial-gradient(#fff,#ffd6d6);
    width: 100%;
    height: 100%;
    margin-top: 10%;
}
#watch{
    width: 90%;
    height: 80%;
    margin-top: 10%;
}
#workout{
    margin-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
#button{
    background-color: #FF6347;
    outline: none;
    border: 0px solid #FF6347;
    padding:10px 40px;
    cursor: pointer;
    color: white;
    border-radius: 8px;
}
.fa-arrow-right{
    position: relative;
    left: 15px;
}
#user1{
    border-radius: 50%;
    width: 30%;
    height: 20%;
    margin-left: 35%;
}
#names{
    margin-left: 35%;
    font-size: 17px;
    margin-top: 10px;
}
.images{
    cursor: pointer;
    text-align: center;
    justify-content: center;
    filter: grayscale(100%);
    transition-duration: 1s;
    margin-left: 70px;
}
.images:hover{
    filter: grayscale(0%);
}
.header3{
    background:#202020;
    margin-top: 10%;
    width: 100%;
    height: 55%;
}
#app{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
#playstore{
    width: 80%;
    height: 20%;
    margin: 5px auto;
    cursor: pointer;
}
#sometext{
    margin-top: 20px;
    color: white;
}
#usefulLinks{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
#followUs{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 20px;
}
.icons{
    font-size: x-large;
    color: white;
    margin-left: 20px;
}
#lastLine{
    content: '';
    border-bottom: 2px solid white;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#rrcompany{
    color: white;
    text-align: center;
    justify-content: center;
    font-size: smaller;
    margin-top: 15px;
}
.card{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
   transition: 1s;
   cursor: pointer;
}
.card:hover{
    transform: translateY(-10px);
}